

$white-primary: #FFFFFF;
$black-primary: #000000;

$gray-primary: #767676;
$red-primary: #DE4129;

$black-1: #1A1A1A;
$black-2: #242424;
$black-3: #353535;

$topRated-Color1: #E7BF35;
$topRated-Color2: #909090;
$topRated-Color3: #7A5235;

$border-radius: 16px;

$font-size1: 24px;
$font-size2: 18px;
$font-size3: 16px;
$font-size4: 14px;
$font-size5: 12px;

$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
