@import 'varables';
@import 'banner';
@import 'row';
@import 'topRated';

body {
  font-family: 'Space Grotesk', sans-serif;
  color: $white-primary;
  letter-spacing: -0.01em;

  margin: 0;
  padding: 0;
  background-color: $black-primary;
}

p {
  margin: 0;
}

.Navbar {
  height: 64px;
  position: absolute;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-left: 16px;

  &-logo {
    width: 57px;
    height: 16px;
  }
}

.App {
  width: 100vw;
  height: 100vh;
}

*::-webkit-scrollbar {
  display: none;
}